body {
  background-color: #f5f5f5;
  padding: 20px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
  padding: 10px 20px;
}

.permlink {
  justify-content: center;
  margin: auto;
}

.permlink p:first-child {
  text-align: center;
}
