<!DOCTYPE html>
<html>
  <head>
    <title>Twitter DM Button</title>
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1 class="headline">Create Your Twiter DM Botton!</h1>
  </body>
</html>
