<!DOCTYPE html>
<html>
  <head>
    <title>Twitter DM Button</title>
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1 class="headline">Create Your Twiter DM Botton!</h1>
    
    <form method=POST>
      <label for="tid"> Twitter id </label><br>
      <input type="text" id="tid" name=id /><br>
      <label for="content"> DM Content </label><br>
      <input type="text" id="content" name=content /><br>
      <input type="submit" value="Submit">
    </form>

    <% if @permlink %>
      <div>
        Your DM Button's link is:
        <%= escape_html(@permlink) %>
      </div>
    <% end%>
  </body>
</html>
