<!DOCTYPE html>
<html>

<head>
  <title>Twitter DM Button</title>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css"/>
</head>

<body>
<!-- github ribbon -->
<a class="github-fork-ribbon fixed"
   href="https://github.com/vonhyou/get-twitter-dm-btn"
   data-ribbon="Star me on GitHub"
   title="Star me on GitHub">Star me on GitHub</a>

<h2>Create Your Twitter DM Button!</h2>
<form method=POST>

  <input type="text" placeholder="Enter your twitter handle" name="handle" />
  <small>
    Twitter id retrieved from<a href="https://tweeterid.com">tweeterid.com</a>
  </small>

  <input type="text"placeholder="What message would you like to receive?" name="content" />

  <button type="submit">Submit</button>
</form>


<% if @permlink %>
  <div>
    Your DM Button's link is:
    <%= escape_html(@permlink) %>
  </div>
<% end %>

</body>
</html>
