@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');

body {
  background-color: #F5F5F5;
  text-align:center;
  margin-top: 32px;
}

.headline {
  font-family: Poppins;
}

.container{
  display:table;
  height:100%;
}

.row{
  display: table-cell;
  vertical-align: middle;
}

/* centered columns styles */
.row-centered {  
  text-align:center;            
}
            
.col-centered {
  display:inline-block;             
  float:none;            
  text-align:left;             
  margin-right:-4px;
}
